div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding: 0px;
}
.row {
  /*margin-bottom: 15px;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding: 0px;
  
} 
.taphold {
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.CameraControl {
	-moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important; 	
	
}
.button.button-huge {
  font-size: 17px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
