div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  
}
.row {
  /*margin-bottom: 15px;*/
  text-align: center;
  
} 
.taphold {
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.CameraControl {
	-moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important; 	
	
}
